#teamB .info {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: row-reverse;
}

#teamA .info {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: row;
}